* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.search-box {
    background-color: rgb(216, 214, 214);
    text-align: center;
    color: white;
    margin: 2rem auto;
    padding: .5rem 70px;
    font-size: 30px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    outline: none;
    border-bottom-style: groove;
    border-radius: 1rem;
}

.btn {
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border: 2px solid rgb(118, 118, 118)d;
    border-radius: 0.6em;
    color: rgb(118, 118, 118);
    cursor: pointer;
    display: flex;
    align-self: center;
    font-weight: 1rem;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: .5rem;


}

.btn:hover {
    color: black;
    outline: 0;
    border: 1px solid rgb(248, 247, 247);
}



.my-header {
    background-color: #c9c4c4;
    text-align: center;
    display: flex;
    justify-content: center;

}

.gallery {
    background-color: #e5dddd;
    padding: 1rem 3rem;
}

.my-photos {
    color: rgb(118, 118, 118);
    display: flex;
    justify-content: center;

    flex-direction: row;
    flex-wrap: wrap;
}

.my-photo {
    padding: 0.5rem;
}

.image {
    background: #34495e;
    border: 1px solid #34495e;
    width: 200px;
    height: 200px;
}


.image-cover {
    object-fit: cover;
    object-position: right top;
}